<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DirectDepositTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>-->
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
    <userSettings>
        <DirectDepositTool.Properties.Settings>
            <setting name="FileCreationNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrigShortName" serializeAs="String">
                <value>Keyur Corp</value>
            </setting>
            <setting name="OrigLongName" serializeAs="String">
                <value>Keyur's Long corp name</value>
            </setting>
            <setting name="CustomerNumber" serializeAs="String">
                <value>9876543210</value>
            </setting>
            <setting name="ReturnTransitNumber" serializeAs="String">
                <value>54321</value>
            </setting>
            <setting name="ReturnAccountNumber" serializeAs="String">
                <value>987654321012</value>
            </setting>
        </DirectDepositTool.Properties.Settings>
    </userSettings>
</configuration>